html { color-scheme: light; }
body { 
    width: 100%; 
    margin: auto;
    align-items: center;
    font-family: Tahoma, Verdana, Arial, sans-serif; 
    font-size:small;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.page {
    position: relative;
}

.logo {
    width: 5em;
}

.bg-image {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 15%;
    z-index: -1;
}

.nav {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    width:80%;
    font-size:large;
}

.content {
    display: flex;
    margin-top:0em;
    flex-direction: column;
    align-items: center;
}